
html, body{
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}

.titulo{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 20px;
}

.carta{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
    filter: drop-shadow(2px 2px 10px rgba(0,0,0,1));
}


#computadora-cartas,#jugador-cartas{
    height: 240px;
}